body{
    display: flex;
    justify-content: space-between;
}
#nav-bar{
    width: 25%;
    position: fixed;
    box-shadow: 1px 2px 2px 1px silver;
   
}
.nav-header{
    font-size: 44px;
    font-family: 'Sora', sans-serif;
    color: steelblue;
    padding: 10px;
}
#nav-header-div{
    background-color: 	bisque;
    width: 100%;
}
a{
    text-decoration: none;
    
    color: gray;
}
.nav-link{
    font-size: 28px;
    border-bottom-style: groove;
    border-bottom-color: teal;
    margin-bottom: 6.5px;
    padding-bottom: 4px;
}
.nav-link-sub{
    font-size: 24px;
    border-bottom-style: groove;
    border-bottom-color: teal;
   
}
.nav-link-sub-li{
    margin-bottom: 5.5px;
    padding-bottom: 3px;
}
.nav-link-ul{
    list-style: none;
}
.nav-a{
    display: flex;
    flex-direction: column;
    padding: 13px;
    
}
.nav-link:hover, .nav-link-sub:hover{
    background-color: steelblue;
    border-radius: 10px;
    color: white;
    border: none;
    
}
#main-doc{
    margin-left: 27%;
    margin-right: 2%;
    margin-top: 0px;
}
.title{
    font-size: 89px;
    color: teal;
    font-family: 'Sora', sans-serif;
}

section>ul,p{

font-size: 24px;
}
.sub-title{
    font-family: 'Roboto', sans-serif;
    color: steelblue;
    font-size: 57px;
}
.sub-sub-title{
font-family: 'Roboto', sans-serif;
font-size: 39px;
font-weight: normal;
color: slateblue;
}
.main-section{
    padding: 10px;
    margin-bottom: 35px;
    box-shadow: 2px 3px 4px 3px bisque;
}
code{
    font-family: monospace;
    font-size: 21px;
    color: blue;
}
.code-div{
    margin: 13px;
    padding: 30px;
    background-color:#f6f6f7;
    border-radius: 9px;
    box-shadow: 1px 1px 2px 1px #f6f6f6;
}



#footer-img{
    max-width: 30px;
  }
  a{
    text-decoration: none;
  }
  #footer{
    background-color: bisque;
    margin-top: 25px;
    padding: 20px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  #footer-content{
    font-size: 19px;
    text-align: center;
  }
  #footer-links{
    display: flex;
    justify-content: space-around;
  }
  @media(max-width: 720px){
    body{
        display: flex;
        flex-direction: column;
    }
    #nav-bar{
        width: 100%;
        position: relative;
    }
    #main-doc{
        margin: 10px
    }
  }